@model LanguageInstall.Data.Model.Translation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Translation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MainTableID" class="control-label"></label>
                <select asp-for="MainTableID" class ="form-control" asp-items="ViewBag.MainTableID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageCode" class="control-label"></label>
                <input asp-for="LanguageCode" class="form-control" />
                <span asp-validation-for="LanguageCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslatedText" class="control-label"></label>
                <input asp-for="TranslatedText" class="form-control" />
                <span asp-validation-for="TranslatedText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

